# Add any directories, files, or patterns you don't want to be tracked by version control

# Unchanged
/addons/**
/lib/**
/scripts/**
/web/alerts/**
/web/common/**
/web/playlist/**
/web/ytplayer/**
/web/panel/js/flot/**
/web/panel/js/footable/**
/web/panel/js/ion-sound/**
/launch.bat
/launch.osx.sh
/launch.sh
/launch-service.osx.sh
/launch-service.sh
/PhantomBot.jar
/web/panel/js/panelConfig.js
/botlogin.txt
/phantombot.db
/phantombot.db-journal
/logs/core-error/
/logs/core-warnings/
/logs/event/

stacktrace\.txt

logs/core/

logs/core-debug/


web/panel/images/*
!web/panel/images/the-fog-448100_1920.jpg
!web/panel/images/Logo1_05-m.png
!web/panel/images/logo.png
!web/panel/images/the-fog-448100_480.jpg



logs/warning/

web/panel/js/mdkeys\.js

/web/panel/js/dashboardpanel.js
web/panel/js/commandspanel.js
web/panel/js/donationspanel.js
web/panel/js/pointspanel.js
web/panel/js/rankspanel.js
web/panel/js/timepanel.js
web/panel/js/moderationpanel.js
web/panel/js/viewerspanel.js
web/panel/js/greetingspanel.js
web/panel/js/audiopanel.js
web/panel/js/keywordspanel.js
web/panel/js/noticespanel.js
web/panel/js/quotespanel.js
web/panel/js/gamespanel.js
web/panel/js/gamblingpanel.js
web/panel/js/hostraidpanel.js
web/panel/js/pollpanel.js
web/panel/js/queuepanel.js
web/panel/js/discordpanel.js
web/panel/js/twitterpanel.js
web/panel/js/helppanel.js		
logs/error/

web/panel/js/mdkeys\.min\.js

web/panel/js/jquery-ui/images/

web/panel/js/jquery-ui/jquery-ui/images/

web/panel/js/panelConfig\.min\.js

config/\.placeholder

logs/chat/

logs/moderation/

logs/private-messages/

logs/pointSystem/

config/
