@font-face {
    font-family: 'Amethyst';
    src: url('Amethyst.ttf');
}

body {
    font-family: "Yanone Kaffeesatz", "Helvetica Neue", Arial, sans-serif;
}

#fontawesome {
    width: 30px;
}

#spacer {
    margin-left: 15px;
}

#middle {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default {
    background: none;
    border: none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('panel/images/the-fog-448100_1920.jpg');
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}

.lightning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('panel/images/the-fog-448100_1920.jpg');
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    -o-filter: brightness(3);
    -moz-filter: brightness(3);
    z-index: -1;
}

.flashit {
    -webkit-animation: flash ease-out 7s infinite;
    -moz-animation: flash ease-out 7s infinite;
    animation: flash ease-out 7s infinite;
    animation-delay: 2s;
}

@-webkit-keyframes flash {
    from {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    93% {
        opacity: 0.6;
    }
    94% {
        opacity: 0.2;
    }
    96% {
        opacity: 0.9;
    }
    to {
        opacity: 0;
    }
}

@keyframes flash {
    from {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    93% {
        opacity: 0.6;
    }
    94% {
        opacity: 0.2;
    }
    96% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.centered {
    text-align: center;
}

.panelsD {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border-left: 6px solid #02c1c1;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    color: #02c1c1;
    line-height: 1.3;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.panelsD:hover {
    background: rgba(0, 0, 0, 0.7);
}

.row {
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

#middle {
    color: white;
}

.launcher-lock {
    color: #02c1c1;
}

h1 {
    font-family: Amethyst, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.8em;
}

a {
    color: #02c1c1;
}

a:hover {
    color: #00f4f4;
}

.iconsLink {
    color: white !important;
}

.iconsLink:hover {
    color: #02c1c1 !important;
}

#logo {
    z-index: 1000;
    width: 100%;
    font-size: 2rem;
    color: white;
    position: fixed;
    top: 50%;
    font-weight: 900;
}

#logo span {
    font-weight: 100;
}

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,900|Lato:100,300,900);
@media screen and (max-width: 630px) {
    #logo {
        font-size: 3rem;
    }
}
